/* Checkboxes */
label.checkbox_checked {
	background: url(../images/tick.png) no-repeat;	
	display: block;
	margin: 10px 0;
	padding-left: 25px;
}
label.checkbox_unchecked  {
	background: url(../images/cross.png) no-repeat;	
	display: block;
	margin: 10px 0;
	padding-left: 25px;
}

/* Hover State */
label:hover{
	color: #333333;
}

label.highlighted {
	border: 1px solid #333;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* STOP EDITTING - DO NOT CHANGE OR REMOVE        */
.crirHidden {
	position: absolute;
	left: -1000px;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

